@import 'src/styles/colors';

.buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	width: 100%;

	.region-btn {
		width: 10rem;
		height: 3rem;

		border-radius: 10px;
		background-color: $primary-color;
		color: $text-color;
		cursor: pointer;
	}
}

.region {
	text-align: center;
}
